*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: grey;
  box-shadow: 10px 10px 10px gray, -10px 20px 15px black;
  gap: 20px;
  a {
    padding: 15px 65px;
    text-align: center;
    background-color: #f2f2f2;
  }
}

.items {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;

    &--completed {
      background-color: rgb(94, 197, 94);
    }
    background-color: rgb(219, 90, 90);
  }

  &__link {
    padding: 5px 10px;
    background-color: #fff;
  }
}
